body{
    height: 100vh;
}

.melhorplano{
    background-color: rgb(83, 248, 83) !important;
}
.piorplano{
    background-color: rgb(246, 61, 61) !important; 
}
#extrato{
    margin-top: 5vh;

}
.backgroud{
    background-image: url(backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.espaçamento{
    margin: 50px 0 !important;
}

table{
    border-spacing: 0 100px;
}
.imagem{
    max-width: 100%;
    max-height: 100%;
}
.imagem2{
    max-width: 90%;
    max-height: 90%;
}
.cabeçalhos{
    max-width: 30vh;
    height: 10vh;
    background-color: rgba(10,23,55,0) !important;

}
input{
    max-width: 40vh;
}
.inputs{
    max-width: 50vh;
}

.display-flex{
    display: flex;}

.alinhamento-vertical{
    vertical-align: middle;
}
.transparente {
    opacity: 0;
  }

.formulario{
    margin-top: 10vh;
}

span{
    width: 6vh;
}
section{
    width: 100%;
}